#display {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 65px;
    height: 68px;
    outline: none;
    width: 100%;    
}

textarea { resize: none; }

@media only screen and (max-width: 600px) {
    #display {
        font-size: 30px;
        height: 40px;    
    }
}